#wcb.carbonbadge {
  font-size: 15px;
  text-align: center;
  color: #0e11a8;
  line-height: 1.15;
}
#wcb.carbonbadge sub {
  vertical-align: middle;
  position: relative;
  top: .3em;
  font-size: .7em;
}
#wcb #wcb_2,
#wcb #wcb_a,
#wcb #wcb_g {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  line-height: 1.15;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  text-decoration: none;
  margin: .2em 0;
}
#wcb #wcb_a,
#wcb #wcb_g {
  padding: .3em .5em;
  border: .13em solid #00ffbc;
}
#wcb #wcb_g {
  border-radius: .3em 0 0 .3em;
  background: #fff;
  border-right: 0;
  min-width: 8.2em;
}
#wcb #wcb_a {
  border-radius: 0 .3em .3em 0;
  border-left: 0;
  background: #0e11a8;
  color: #fff;
  font-weight: 700;
  border-color: #0e11a8;
}
#wcb.wcb-d #wcb_a {
  color: #0e11a8;
  background: #00ffbc;
  border-color: #00ffbc;
}
#wcb.wcb-d #wcb_2 {
  color: #fff;
}
