{% if mode == 'php' %}
  {% if datas.co2 %}
    <div id="wcb" class="carbonbadge{% if thm == 'dark' %} wcb-d{% endif %}">
      <div id="wcb_p">
        <span id="wcb_g">{{ datas.co2|raw }}</span>
        <a id="wcb_a" target="_blank" rel="noopener" href="https://websitecarbon.com">Website Carbon</a>
      </div>
      {% if datas.cleaner %}<span id="wcb_2">{{ datas.cleaner|raw }}</span>{% endif %}
    </div>
  {% endif %}
{% else %}
  <div id="wcb" class="carbonbadge{% if thm == 'dark' %} wcb-d{% endif %}"></div>
{% endif %}
